@import "../app.component.scss";
.body{
  background: url(../../assets/back-login.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  overflow-x:hidden;
  box-sizing: border-box;
}

.mat-dialog-container {
  border-radius: 30px;
}
.main{
  height: 100vh;
  display: grid;
  padding: 2rem;
  max-width: 1800px;
  grid-template-rows: 1fr 1fr 1fr;
}
.container-login-page{
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
}
app-title-and-sub{
  color: $white;
}
app-header{
  color: $white;
}
@media  only screen and (min-width: 430px) {
  .route-flx{
    display: flex;
    justify-content: center;
  }
}
@media  only screen and (min-width: 700px) {
  .main{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 3rem;
    grid-template-areas:
      "header header header"
      "text-login text-login router";
  }
  .route-flx{
    grid-area: router;
    display: flex;
    justify-content: flex-end;
    max-width: 380px;
    width: 380px;
  }
  app-title-and-sub{
    grid-area:text-login;
    margin-right: 20px;
  }
  app-header{
    grid-area: header;
  }
}


  @media  only screen and (min-width: 1250px) {
    .main{
      padding: 4rem;
      grid-template-rows: 1fr 3fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;

      grid-template-areas:
      "header header header"
      "text-login text-login router";
    }
    app-title-and-sub{
      display: flex;
      align-items: center;
    }
    .container-route-flx{
      display: flex;
      align-items: center;
    }
    .container-signin{
      grid-area: buttons;
      display: flex;
      justify-content: flex-end;
    }
  }
  @media  only screen and (min-width: 1550px) {
    .main{
      margin-right: auto;
      margin-left: auto;

    }

    .container-route-flx{
      display: flex;
      justify-content: flex-end;
    }
  }
