@import "../app.component.scss";

.tilte {
  font-weight: bold;
  color: green;
}
#modal-terms{
  padding: 0 1rem;
  .tabcontent{
    p{
      color: $blue-2E2;
    }
  }
}
.tablinks{
  text-decoration: none;
}


 .close-terms{
  cursor: pointer;
}
.content-close{
    display: flex;
    justify-content: flex-end;
}
.modal-terms {
  font-style: italic;
  text-decoration: underline;
}
.modal-terms-remove {
  font-style: none;
  text-decoration: none;
}
.tab{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(46, 44, 138, 0.5);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  a{
      color: $blue-2E2;
  }
  .content-terms{
      margin-top: 10px;
      width: 50%;
  }
}
/* Modal Content */
.modal-content {
  border-radius: 30px;
  color: $blue-2E2;
  p{
      color: $blue-2E2;
  }
  h3{
      color: $blue-2E2;
  }
}

/* The Close Button */
.close {
  display: flex;
  top: 15px;
  left: 346px;
  width: 30px;
  height: 30px;
  transform: matrix(0, 1, -1, 0, 0, 0);
  color: $blue-2E2;
  font-size: 28px;
  font-weight: bold;
  :hover,
  :focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  ::after{
      content: 'asa';
      width: 20px;
      height: 20px;
      background-color: #000;
  }
}

@media  only screen and (min-width: 1250px) {
  .content-close{
    display: flex;
    justify-content: flex-end;
}
.tablinks{
    cursor: pointer;
}
.tab{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(46, 44, 138, 0.5);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  a{
      color: $blue-2E2;
      font-size: 18px;
  }
  .content-terms{
      margin-top: 10px;
      width: 100%;
  }
}
/* Modal Content */
.modal-content {
  padding:  1rem 3rem;

}
}
