<app-loading-spinner></app-loading-spinner>
<div class="container-logged">
  <header>
    <div class="container-header">
      <div class="container-logo cursor-pointer" [routerLink]="['/sugestion-matches']">
        <img src="../../assets/logo-branco.svg" alt="">
        <span>Devotee</span>
      </div>
      <div class="container-menu-logged">
        <div class="matches">
          <mat-icon class="icon-menu-logged" [routerLink]="['/sugestion-matches']" [routerLinkActive]="['icon-route-is-active']">people_alt</mat-icon>
        </div>
        <div class="chat">
          <mat-icon class="icon-menu-logged" [class.icon-route-is-active]="routerUrl" (click)="redirectToMacthes()"
          >forum</mat-icon>
        </div>
        <div class="perfil-config">
          <mat-icon class="icon-menu-logged" [routerLink]="['/settings']" [routerLinkActive]="['icon-route-is-active']">settings</mat-icon>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
