<app-loading-spinner></app-loading-spinner>
<div class="cards">
  <div class="container-cards">
    <div class="cards preferences">

      <mat-card>
        <mat-card-title class="first-card">
          {{text.prefences.title}}
        </mat-card-title>
      </mat-card>
    </div>
    <div class="block-cards container-card-info-perfil">
      <form [formGroup]="userPreference">
        <!-- <input type="text"  formControlName="localization"> -->
        <mat-card>
          <div class="container-preference-grid  select-preferences">
          <div class="localiztion-preference" >
            <mat-card-title>
              {{text.prefences.localization}}
            </mat-card-title>
            <!-- thumbLabel class="disp-none"  [(value)]="searchRadius.value"-->

            <mat-slider
            [displayWith]="formatLabel"
            tickInterval="1000"
            min="1"
            max="5000" [color]="color" #searchRadius (input)="onInputChange('distance', $event)">  </mat-slider>
            <p>{{text.prefences.searchRadius}} {{searchRadius.value}}km</p>
          </div>
          </div>

          <div class="block-cards container-preferences-selects">
            <mat-card-title>
              {{text.prefences.userPreferences}}
            </mat-card-title>
            <div class="container-preference-grid  select-preferences">
              <mat-form-field >
                <mat-select (focus)="filterOption('selectUserType')" formControlName="userType" placeholder="{{ text.prefences.userType}}" [multiple]="true">
                  <mat-select-search formControlName="selectUserType" ></mat-select-search>
                  <mat-option *ngFor="let optionUserType of userType" [value]="optionUserType">
                    {{optionUserType.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <!-- <mat-form-field >
                <mat-select (focus)="filterOption('selectUserType')" formControlName="genre" placeholder="{{text.prefences.genre}}" [multiple]="true">
                  <mat-select-search formControlName="selectGenre" ></mat-select-search>
                  <mat-option *ngFor="let optionUserType of filteredUserType" [value]="optionUserType">
                    {{optionUserType}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <!-- (focus)="filterSexualOrientation(sexualOrientation)" -->
              <mat-form-field>
                <mat-select  #sexualOrientationInterest (focus)="filterOption('selectUserType')" placeholder="{{ text.prefences.genre}}" [multiple]="true">
                  <mat-select-search formControlName="selectIntertingType" ></mat-select-search>
                  <mat-option  *ngFor="let sexualOrientation of orientationOptions" [value]="sexualOrientation.value">
                    {{sexualOrientation.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <mat-form-field >
                <mat-select (focus)="filterOption('selectUserType')" formControlName="orientation" placeholder="{{ text.prefences.orientation}}" [multiple]="true">
                  <mat-select-search formControlName="selectOrientation" ></mat-select-search>
                  <mat-option *ngFor="let optionUserType of filteredUserType" [value]="optionUserType">
                    {{optionUserType}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->

              <mat-form-field>
                <mat-select #preferenceSexualOrientation placeholder="{{ text.prefences.orientation}}">
                  <mat-select-search formControlName="selectIntertingType" ></mat-select-search>
                  <mat-option *ngFor="let preferenceSexualOrientation of orientationOptions" [value]="preferenceSexualOrientation.value">
                    {{preferenceSexualOrientation.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field >
                <mat-select   (focus)="filterOption('selectUserType')" formControlName="interesseType" placeholder="{{ text.prefences.interestType}}" [multiple]="true">
                  <mat-select-search formControlName="selectIntertingType" ></mat-select-search>
                  <mat-option *ngFor="let optionUserType of intereseType" [value]="optionUserType">
                    {{optionUserType.valuePt}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="block-cards container-form">
            <mat-card-title>
              {{text.prefences.age}}
            </mat-card-title>
            <div class="container-preference-grid  select-preferences">
              <div class="min-birth">
                <mat-slider
                [displayWith]="formatLabel"
                tickInterval="100"
                min="18"
                max="100" [color]="color" #minimumAge (input)="onInputChange('ageMin', $event)"></mat-slider>
                <p>{{text.prefences.minimunAge}} {{minimumAge.value}} {{text.prefences.years}}</p>
              </div>
              <div class="max-bith">
                <mat-slider
                [displayWith]="formatLabel"
                tickInterval="100"
                min="18"
                max="100" [color]="color" #maximumAge (input)="onInputChange('ageMax', $event)"></mat-slider>
                <p>{{text.prefences.maximumAge}} {{maximumAge.value}} {{text.prefences.years}}</p>
              </div>
            </div>
          </div>
        </mat-card>
    </form>
      <button (click)="return()"  mat-stroked-button class="btn-return-background-2  btn-width" color="primary">{{text.btnRollback}}</button>
      <button (click)="onSubmit()" (click)="filterSexualOrientation(sexualOrientationInterest, preferenceSexualOrientation)" mat-raised-button color="primary" class="btn btn-next btn-width">{{text.btnNext}}</button>
    </div>
  </div>
</div>
