<div class="container-delete-account">
  <div class="mensagem-confirm-delete">
    <h2>{{text.deleteAccount.menssageTitle}}</h2>
    <div>
      <p>•{{text.deleteAccount.bullet1}}</p>
      <p>•{{text.deleteAccount.bullet2}}</p>
    </div>
    <p>{{text.deleteAccount.menssgeConfirm}}</p>
  </div>
  <div class="container-buttons display-flex space-betweenn">
    <button mat-stroked-button class="btn btn-primary" color="primary" (click)="deleteAccount()">{{ text.deleteAccount.btnConfirm }}</button>
    <button mat-raised-button color="primary" class="btn btn-secondary">{{ text.deleteAccount.btnCancel}}</button>
  </div>
</div>
