<div class="app-user-settings">
  <div class="container-user-settings">
    <div class="container-first-card">
      <mat-card>
        <mat-card-title class="first-card">{{text.userSettings.title}}</mat-card-title>
      </mat-card>
    </div>
    <div class="container-card-settins">
      <mat-card class="card-settings" (click)="openProfile()">
        <mat-icon>person</mat-icon>
        <mat-card-title>{{text.userSettings.myProfile}}</mat-card-title>
      </mat-card>
      <mat-card class="card-settings" [routerLink]="['/edit']">
        <mat-icon>edit</mat-icon>
        <mat-card-title>{{text.userSettings.editProfile}}</mat-card-title>
      </mat-card>
      <mat-card class="card-settings" [routerLink]="['/preferences']">
        <mat-icon>filter_alt</mat-icon>
        <mat-card-title>{{text.userSettings.preferences}}</mat-card-title>
      </mat-card>
      <mat-card class="card-settings"  >
        <mat-icon>security</mat-icon>
        <mat-card-title>{{text.userSettings.changePassword}}</mat-card-title>
      </mat-card>
      <mat-card class="card-settings" (click)="confirmDeleteAccount()">
        <mat-icon>delete</mat-icon>
        <mat-card-title>{{text.userSettings.deleteProfile}}</mat-card-title>
      </mat-card>
      <mat-card class="card-settings" (click)="logout()" >
        <mat-icon>power_settings_new</mat-icon>
        <mat-card-title>{{text.userSettings.logout}}</mat-card-title>
      </mat-card>
    </div>
    <button mat-stroked-button class="btn-return-background-2  btn-width" color="primary" (click)="return()" >{{text.btnRollback}}</button>
  </div>
</div>
