<div class="container-forgot-password">
  <p class="email-alert">{{text.forgotPassword.alertEmail}}</p>
  <mat-form-field class="example-full-width forgot-password-email">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint></mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      {{text.forgotPassword.inputEmail.msgErrorEmailInvalid}}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      {{text.forgotPassword.inputEmail.emailIs}} <strong>{{text.forgotPassword.inputEmail.required}}</strong>
    </mat-error>
  </mat-form-field>
  <div class="sucess-mensage" *ngIf="emailForgoted">
    {{text.forgotPassword.sucessMensage}}
  </div>
  <div class="buttons-forgot-password">
    <button mat-raised-button color="primary" class="btn btn-recover" (click)="recoverPassword()">{{ text.forgotPassword.btnRecover }}</button>
    <div class="btn container-btn-return">
      <a [routerLink]="['/login']" class="btn-return">{{ text.forgotPassword.btnReturn }}</a>
    </div>
  </div>
  <app-loading-spinner></app-loading-spinner>

</div>
