@import "../../app.component.scss";
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.container-forgot-password{
  background-color: rgba(255, 255 , 255, 0.8);
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.23);
  padding: 1rem 1.5rem 1.5rem;
  max-width: 380px;
  width: 100%;
  border-radius: 20px;
  .email-alert{
    text-align: center;
    color: $blue-2E2;
  }
  .forgot-password-email{
    margin: 20px 0;
  }
}
.example-full-width {
  width: 100%;
}
.buttons-forgot-password{
  display: grid;
  text-align: center;
  .btn {
    cursor: pointer;
  }
  .btn-recover{
    width: 100%;
    border-radius: 10px;
    color: $white;
    background-color: $blue-364;
  }
  .container-btn-return{
    margin-top: 20px;
    .btn-return{
      cursor: pointer;
      text-decoration: none;
      color: $blue-2E2;
    }
  }
  .container-btn-remember{
    margin-top: 30px;
    .btn-remember{
      cursor: pointer;
      font-size: 0.9rem;
      text-decoration: none;
      color: $blue-2E2;
    }
  }
}
.sucess-mensage{
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}
@media  only screen and (min-width: 700px) {

}

@media  only screen and (min-width: 1250px) {
  .container-forgot-password{
    max-width: 380px;
    width: 380px;
  }
  .buttons-forgot-password{
    .btn {
      font-size: 1.1rem;
    }
    .btn-recover{
      height: 45px;
    }
    .btn-remember{
      font-size: 0.9rem;
    }
  }
}
