@import "../../../../app.component.scss";

.container-cards{
  max-width: 720px;
  margin: 1.5rem 1.5rem 1rem;
  display: grid;
  flex-direction: column;
  .cursor-pointer{
    cursor: pointer;
  }
  .who-are-you {
    mat-card {
      padding: 1rem 1.5rem;
      color: $white;
      background-color: $blue-3F5;
    }
  }
  .profile-img{
    display: flex;
    margin: 0 auto;
    position: relative;
    width:80px;
    height: 68px;
    background-color: $grey-D9D;
    border: 1px solid $grey-C9C;
    border-radius: 8px;
    color: #909090;
    font-size: 80px;
  }
 .photo-principal{
    mat-icon{
      display: flex;
      justify-content: center;
    }
    .avatar{
      img{
        width: auto;
        border-radius: 8px;
        max-height: 68px;
      }
      .profile-img::after{
        content:"add_a_photo";
        transform: scale(.2);
        display: block;
        position: absolute;
        bottom: -2px;
        right: -2px;
        width:20px;
        height:20px;
        border-radius: 100%;
        z-index: 3;
      }
      .profile-img::before{
        content:"";
        display: block;
        position: absolute;
        bottom: -10px;
        right: -10px;
        width:25px;
        height:25px;
        border-radius: 100%;
        background: $grey-D9D;
        z-index: 1;
      }
    }
  }
  .how-I-was-born{
    padding: 0 1rem;
    margin: 0 0 20px;
  }
  .how-I-was-born-radio{
    display: flex;
    .option-radio:nth-child(1){
      margin-right: 10px;
    }
  }
  .more-photos{
    justify-self: center;
    background-color: $grey-D9D;
    border: 1px solid $grey-C9C;
    margin: 5px;
    max-width: 150px;
    border-radius: 8px;
    img{
      width: auto;
      max-height: 66px;
      border-radius: 8px;
    }
  }
  .more-pictures{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .block-cards{
    margin-top: 10px;
  }
  .input-file{
    display: none;
  }
  mat-form-field{
    padding: 0 1rem;
  }
  .btn-return-background-2{
    margin-left: 0;
  }
  .container-form{
    mat-form-field{
      display: block;
    }
  }
}
@media only screen and(min-width:700px){
  .container-cards{
    margin: 2rem 3rem;
    .user-img{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn-next{
      padding: 0 25px;
    }
    .photo-principal{
      .avatar{
        img{

          width: auto;
          height: auto;
          max-width: 100px;
          max-height: 80px;
          border-radius: 8px;
        }
        .profile-img{
          max-width: 200px;
          width:100px;
          height: 80px;
          font-size: 95px;
        }
        .profile-img::after{
          transform: scale(.2);
          bottom: 5px;
          right: 5px;
          width:20px;
          height:20px;
        }
        .profile-img::before{
          bottom: -10px;
          right: -10px;
          width:35px;
          height:35px;
        }
      }
    }
    .more-photos{
      max-width: 200px;
      img{
        max-height: 90px;
        width: auto;
        height: auto;
      }
      .profile-img{
        display: flex;
        justify-content: center;
        align-content: flex-end;
        width:150px;
        height: 90px;
        font-size: 107px;
      }
    }
    .more-photos{
      max-width: 200px;
    }
    .display-grid-data-person{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .infos-person{
      grid-template-areas:
      "input-name input-email"
      "input-phone input-profession"
      "input-gender input-orientation"
      "was-born  was-born"
      "input-text-area input-text-area"
      ;
    }
    .how-I-was-born{
      grid-area: was-born;
    }
    .input-name{
      grid-area: input-name;
    }
    .input-email{
      grid-area: input-email;
    }
    .input-phone{
      grid-area: input-phone;
    }
    .input-profession{
      grid-area: input-profession;
    }
    .input-gender{
      grid-area: input-gender;
    }
    .input-orientation{
      grid-area: input-orientation;
    }
    .input-text-area{
      grid-area: input-text-area;
    }
  }
}

@media only screen and(min-width:800px){
  .container-cards{
    margin: 2rem auto;
  }
}
