<div class="container-cards">
  <div class="cards who-are-you">
    <mat-card>
      <mat-card-title class="first-card">
      {{ text.iamEspecialAndDevotee.headerYourProfile }}
      </mat-card-title>
    </mat-card>
  </div>
  <div class="block-cards container-card-info-perfil">
    <mat-card>
      <form [formGroup]="dataUser">
      <div class="container-perfil-photo">
        <mat-card-title>
          {{ text.iamEspecialAndDevotee.principalPhotoPerfil }}
        </mat-card-title>
        <div class="photo-principal cursor-pointer">
          <label for="avatar" class="avatar">
            <mat-icon *ngIf="urlProfile === undefined" class="profile-img">person</mat-icon>
            <mat-icon *ngIf="urlProfile !== undefined" class="profile-img user-img"><img class="" src={{urlProfile}} alt=""></mat-icon>
          </label>
          <input type="file"
                id="avatar"
                name="avatar"
                accept="image/png, image/jpeg"
                (change)='onSelectFile($event, "urlProfile")'
                class="input-file input-photo-principal">
        </div>
      </div>
      <div class="block-cards container-more-photos">
        <mat-card-title>
          {{ text.iamEspecialAndDevotee.addMorePhotos }}
        </mat-card-title>
        <div class="more-pictures">
          <div class="more-photos more-photos-1">
            <label for="more-photos-1" class="more-photos-1 cursor-pointer">
              <mat-icon *ngIf="urlMore1 === undefined" class="profile-img">person</mat-icon>
              <mat-icon *ngIf="urlMore1 !== undefined" class="profile-img"><img class="" src={{urlMore1}} alt=""></mat-icon>
            </label>

            <input
              type="file"
              id="more-photos-1" name="more-photos-1"
              accept="image/png, image/jpeg" (change)='onSelectFile($event, "urlMore1")' class="input-file input-photo-principal">
          </div>
          <div class="more-photos more-photos-2">
            <label for="more-photos-2" class="more-photos-2 cursor-pointer">
              <mat-icon *ngIf="urlMore2 === undefined" class="profile-img">person</mat-icon>
              <mat-icon *ngIf="urlMore2 !== undefined" class="profile-img "><img class="" src={{urlMore2}} alt=""></mat-icon>
            </label>

            <input
              type="file"
              id="more-photos-2" name="more-photos-2"
              accept="image/png, image/jpeg" (change)='onSelectFile($event, "urlMore2")' class="input-file input-photo-principal">
          </div>
          <div class="more-photos more-photos-3" >
            <label for="more-photos-3" class="more-photos-3 cursor-pointer">
              <mat-icon *ngIf="urlMore3 === undefined" class="profile-img">person</mat-icon>
              <mat-icon *ngIf="urlMore3 !== undefined" class="profile-img"><img class="" src={{urlMore3}} alt=""></mat-icon>
            </label>
            <input
              type="file"
              id="more-photos-3" name="more-photos-3"
              accept="image/png, image/jpeg" (change)='onSelectFile($event, "urlMore3")' class="input-file input-photo-principal">
          </div>
        </div>
      </div>

      <div class="block-cards container-form">
        <mat-card-title>
          {{ text.iamEspecialAndDevotee.aboutYou.aboutYouTitle }}
        </mat-card-title>

          <div class="infos-person display-grid-data-person">
            <mat-form-field class="input-first-name">
              <mat-label>{{ text.iamEspecialAndDevotee.aboutYou.first_name }}</mat-label>
              <input matInput formControlName="first_name" autocomplete="off" [(ngModel)]='userEspecial.first_name'>
            </mat-form-field>
            <mat-form-field class="input-last-name">
              <mat-label>{{ text.iamEspecialAndDevotee.aboutYou.last_name }}</mat-label>
              <input matInput formControlName="last_name" autocomplete="off" [(ngModel)]='userEspecial.last_name'>
            </mat-form-field>
            <!-- <mat-form-field class="input-name">
              <mat-label>{{ text.iamEspecialAndDevotee.aboutYou.inputName }}</mat-label>
              <input matInput formControlName="name" autocomplete="off" [value]="name" [(ngModel)]='userEspecial.name'>
            </mat-form-field> -->
            <mat-form-field class="example-full-width input-email">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]='userEspecial.email' [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com" formControlName="email" autocomplete="off" >
              <mat-hint></mat-hint>
              <mat-error *ngIf="f.email.hasError('email') && !f.email.hasError('required')">
                {{ text.iamEspecialAndDevotee.aboutYou.inputEmail.errorInvalidEmail }}
              </mat-error>
              <mat-error *ngIf="f.email.hasError('required')">
                {{ text.iamEspecialAndDevotee.aboutYou.inputEmail.emailIs }} <strong>{{ text.iamEspecialAndDevotee.aboutYou.inputEmail.emailRequired }} </strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input-phone" formGroupName='phoneGroup'>
              <mat-label>{{ text.iamEspecialAndDevotee.aboutYou.inputPhone }} </mat-label>
              <input matInput formControlName="phones" autocomplete="off" [(ngModel)]="userEspecial.phone">
              <a mat-icon-button matSuffix [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="false" aria-label="Example home icon">lock</mat-icon>
              </a>
              <!-- <button mat-button >Menu</button> -->
              <mat-menu #menu="matMenu" class="menu-phone">
                <h2>Quem pode ver?</h2>
                <div class="options-phone-visibility">
                  <div class="option-radio">
                    <input type="radio" id="All" name="phoneVisibility" value="All" formControlName="phoneVisibility" [(ngModel)]="userEspecial.phoneVisibility">
                    <label for="All">Todos</label>
                  </div>

                  <div class="option-radio">
                    <input type="radio" id="Matches" name="phoneVisibility" value="Matches" formControlName="phoneVisibility" [(ngModel)]="userEspecial.phoneVisibility">
                    <label for="Matches">Mathces</label>
                  </div>

                  <div class="option-radio">
                    <input type="radio" id="Nobody" name="phoneVisibility" value="Nobody" formControlName="phoneVisibility" [(ngModel)]="userEspecial.phoneVisibility">
                    <label for="Nobody">Ninguém</label>
                  </div>

                </div>

              </mat-menu>
            </mat-form-field>

            <mat-form-field class="input-profession">
              <mat-label>{{ text.iamEspecialAndDevotee.aboutYou.inputProfession}}</mat-label>
              <input matInput formControlName="profession" autocomplete="off" [(ngModel)]='userEspecial.profession'>
            </mat-form-field>





            <mat-form-field class="example-full-width input-gender" >
              <input type="text"
                     placeholder="{{ text.iamEspecialAndDevotee.aboutYou.inputGenre}}"
                     aria-label="Number"
                     matInput
                     #optionGenre
                     (change)="0"
                     formControlName="gender"
                     [matAutocomplete]="auto" (focus)="filterOptionInput('gender')"  [(ngModel)]='userEspecial.genre'>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option  *ngFor="let option of filteredOptions | async" [value]="option" >
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="example-full-width input-orientation" >
              <input type="text"
                     placeholder="{{ text.iamEspecialAndDevotee.aboutYou.inputOrientation}}"
                     aria-label="Number"
                     matInput
                     formControlName="orientation"
                     [matAutocomplete]="auto" (focus)="filterOptionInput('orientation')"  [(ngModel)]='userEspecial.orientation'>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="how-I-was-born" [style.display]="optionGenre.value === 'Masculino' || optionGenre.value === 'Feminino' || optionGenre.value === '' ? 'none' : 'block' ">
              <div class="how-I-was-born-txt">Como eu nasci</div>
              <div class="options-phone-visibility how-I-was-born-radio">
                <div class="option-radio">
                  <input type="radio" id="men" name="wasBorn" value="men" >
                  <label for="men">Homem</label>
                </div>
                <div class="option-radio">
                  <input type="radio" id="woman" name="wasBorn" value="woman" >
                  <label for="woman">Mulher</label>
                </div>
              </div>
            </div>
            <mat-form-field class="example-full-width input-text-area">
              <label for="about-you">
                <mat-label>{{ text.iamEspecialAndDevotee.aboutYou.inputMoreAboutYou}}</mat-label>
                <textarea matInput placeholder="Vamos conversar que te conto" #aboutYou></textarea>
              </label>
              <input
                [(ngModel)]='userEspecial.aboutYou'
                formControlName="aboutYou"
                type="text"
                id="about-you" name="about-you" value="{{aboutYou.value}}" style="display: none;" >
            </mat-form-field>
          </div>
          <div class="details-person " *ngIf="userIsEspecialType">


            <mat-card-title>
              {{ text.iamEspecialAndDevotee.aboutYourDisability.aboutYourDisabilityTitle}}
            </mat-card-title>
            <div class="container-about-disability display-grid-data-person">


              <mat-form-field >
                <mat-select (focus)="filterOption('selectCids')"  [(ngModel)]='userEspecial.cid' formControlName="cid" placeholder="{{ text.iamEspecialAndDevotee.aboutYourDisability.inputSelectCID}}" [multiple]="true">
                  <!-- <input (keyup)="filterOptionKeyup($event.target.value)"> -->
                  <mat-select-search formControlName="selectCids" ></mat-select-search>

                  <mat-option *ngFor="let selectCids of filteredCids | async" [value]="selectCids">

                    <div *ngIf="language === 'pt'" > {{selectCids.description}}</div>
                    <div *ngIf="language === 'us'" > {{selectCids.description_en}}</div>

                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- SURGERYY -->

              <mat-form-field id="surgerie-select" >
                <mat-select  (focus)="filterOption('selectSurgeries')"  formControlName="surgeries" placeholder="{{ text.iamEspecialAndDevotee.aboutYourDisability.inputSurgery}}" [multiple]="true"  [(ngModel)]='userEspecial.surgeries'>
                  <mat-select-search id="mat-select-true" formControlName="selectSurgeries" ></mat-select-search>
                  <mat-option  *ngFor="let selectSurgeries of filteredSurgeries | async"  [value]="selectSurgeries" >
                    <div *ngIf="language === 'pt'" >{{selectSurgeries.name}}</div>
                    <div *ngIf="language === 'us'" >{{selectSurgeries.name_en}}</div>
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field >
                <mat-select (focus)="filterOption('selectHosptals')" formControlName="hospitals" placeholder="{{ text.iamEspecialAndDevotee.aboutYourDisability.inputHosptals}}" [multiple]="true"  [(ngModel)]='userEspecial.hospitals'>
                  <mat-select-search formControlName="selectHosptals" ></mat-select-search>
                  <mat-option *ngFor="let selectHosptals of filteredHosptals | async" [value]="selectHosptals">
                    {{selectHosptals.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>



              <mat-form-field id="medicinesSelect" >
                <mat-select  (focus)="filterOption('selectMedicines')"  formControlName="medication_types" placeholder="{{ text.iamEspecialAndDevotee.aboutYourDisability.inputMedicines}}" [multiple]="true"  [(ngModel)]='userEspecial.medicines'>
                  <mat-select-search id="mat-select-true" formControlName="selectMedicines" ></mat-select-search>
                  <mat-option  *ngFor="let selectMedicines of filteredMedicine | async"  [value]="selectMedicines">
                    {{selectMedicines.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>

            <div class="container-checks display-grid-data-person">
              <mat-slide-toggle  formControlName="born_with_disability" [color]="color" [(ngModel)]='userEspecial.checkBirthDisability'> {{ text.iamEspecialAndDevotee.aboutYouChecks.checkBirthDisability}} </mat-slide-toggle>
              <mat-slide-toggle  formControlName="tiic" [color]="color" [(ngModel)]='userEspecial.checkHaveTIIc'> {{ text.iamEspecialAndDevotee.aboutYouChecks.checkHaveTIIC}} </mat-slide-toggle>
              <mat-slide-toggle  formControlName="fertile" [color]="color" [(ngModel)]='userEspecial.checkImpairedFertility'> {{ text.iamEspecialAndDevotee.aboutYouChecks.checkImpairedFertility}} </mat-slide-toggle>
              <mat-slide-toggle  formControlName="prejudice" [color]="color" [(ngModel)]='userEspecial.checkOvercomingExample'> {{ text.iamEspecialAndDevotee.aboutYouChecks.checkOvercomingExample}} </mat-slide-toggle>
            </div>
          </div>

      </div>
      </form>
    </mat-card>
    <button [routerLink]="['/create-account-continue']" mat-stroked-button class="btn-return-background-2" color="primary">{{ text.btnRollback }}</button>
    <button [routerLink]="['/preferences']" mat-raised-button color="primary" class="btn btn-next" (click)="nextPage()" >{{text.iamEspecialAndDevotee.btnNext}}</button>
  </div>
</div>

