@import "../../app.component.scss";

body {
  background-color:$grey-F1F;
}
::ng-deep.mat-dialog-container {
  background-color: $grey-F1F;
}
.container-no-profile-picture{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $grey-909;
  font-size: 50px;
}
.mat-icon-size{
  mat-icon{
    font-size: 50px;
    width: auto;
    height: auto;
  }
}
.profile-bigger-picture{
  background: #D9D9D9 0% 0% padding-box;
  border: 1px solid #C9C9C9;
}
.container-matches {
  padding: 20px 10px;
  height: 100%;
  align-content: center;
  .container-matches-sugestion {
    margin: 1rem 1rem 0;
    max-height: 430px;
    overflow: hidden;
    position: relative;
    justify-items: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
   user-select: none;
    .like-animation {
      transform: rotate(45deg) translate3d(600px,200px,20px)!important;
      transition: 1.5s!important;
      background-color: #00DB92;
    }

    .dislike-animation {
      transform: rotate(-45deg) translate3d(-600px,200px,20px)!important;
      transition: 1.5s!important;
      background-color: red;
    }
    mat-card:nth-child(1) {
      z-index: 5;
      top: 10px;
      width: 100%;
    }
    mat-card:nth-child(2) {
      z-index: 4;
      position: absolute;
      top: 22px;
      width: 100%;
    }
    mat-card:nth-child(3) {
      position: absolute;
      top: 31px;
      z-index: 3;
      width: 100%;
    }

  }
  mat-card {
    padding: 1rem;
    display: grid;
    max-width: 400px;
    max-height: 450px;
    color: $blue-2E2;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #00000029;
    margin-bottom: 40px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  mat-card:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .container-filter-and-matches {
    display: flex;
    justify-content: center;


  }
  .infos-sugestion-matches{
    text-transform: capitalize;
  }

  .circle-matches-filter {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color: $grey-909;
    box-shadow: 0px 3px 6px #00000029;
  }
  .circle-matches-person {
    width: 40px;
    height: 40px;
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: $white;
    color:$grey-909;
    overflow: hidden;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 2;
    img {
      z-index: 1;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .filter {
    .circle-matches-filter {
      margin-left: 10px;
    }
  }
  .container-sugestion-perfil {
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  .container-perfil-picture {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .container-buttons-matches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
    :hover {
      cursor: pointer;
      opacity: 1;
    }
    div {
      margin: 20px 10px 10px;
      padding: 5px;
      border-radius: 8px;
      display: grid;
      justify-content: center;
      align-content: center;
      box-shadow: 0px 3px 6px #00000029;
      opacity: 0.8;
    }
    button{
      background-color: transparent;
      border: 0;
      :active{
        outline: 0;
      }

    }
    .deslike {
      background-color: #C7CCE1;
    }
    .like {
      background-color: #00DB92;
    }
    .matches-buttons {
      color: #fff;

    }
  }
}
@media only screen and(min-width:700px) {
  .mat-dialog-container {
    border-radius: 20px;
}

  .container-matches {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
    "filter-and-matches filter-sugestion "
    "filter-and-matches filter-buttons"
    ;

    .aling-buttons {
      grid-area: filter-buttons;
    }
    .container-filter-and-matches {
      grid-area: filter-and-matches;
    }
    .container-matches-sugestion {
      margin: 4rem 1rem 1rem;
      grid-area: filter-sugestion;
      position: relative;
      margin: 0 auto;
      display: flex;
      max-height: 485px;
      height: 485px;
      justify-content: center;
      align-items: center;
      width: 100%;

      mat-card:nth-child(1) {
        z-index: 5;
        top: 10px;
        width: 100%;
      }
      mat-card:nth-child(2) {
        z-index: 4;
        position: absolute;
        top: 22px;
        width: 100%;
      }
      mat-card:nth-child(3) {
        position: absolute;
        top: 31px;
        z-index: 3;
        width: 100%;
      }
    }
    .container-buttons-matches {
      margin: 0 auto;
    }
    .container-filter-and-matches {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .filter {
      .circle-matches-filter {
        margin-left: 0;
        margin-top: 10px;
      }
    }
    .container-perfil-picture {
      height: 340px;
    }
    .circle-matches-person {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }
  }

}
