
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "./app/app.component.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$devotee-app-primary: mat-palette($mat-indigo);
$devotee-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$devotee-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$devotee-app-theme: mat-light-theme((
  color: (
    primary: $devotee-app-primary,
    accent: $devotee-app-accent,
    warn: $devotee-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($devotee-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto,'sans-serif';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cursor-pointer{
  cursor: pointer;
  outline: 0;
}
.mat-m {
  &b-0{
    margin-bottom: 0!important;
  }
  &t-0{
    margin-top: 0!important;
  }
}

.mat-typography p, .mat-typography h2{
  margin: 0!important;
}
.mat-menu-content:not(:empty){
  padding: 10px;
}
.menu-likes{
  color: $blue-2E2;
  border-radius: 10px!important;
}
.menu-phone {
  color: $blue-2E2;
  border-radius: 10px!important;
}
.option-radio{
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  input + label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
  }
  input[type=radio] + label::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 1px  $blue-2E2;
    vertical-align: bottom;
  }
  input[type=radio]:checked + label::after {
    content: '';
    background-color: $blue-2E2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    bottom: 3px;
  }
}
.options-phone-visibility {
  padding: 0 5px;
  input{
    margin-top: 3px;
    margin-right: 3px;
  }
  label{
    color: black;
  }
}
mat-icon{
  outline: 0;
}
@media only screen and(min-width:700px) {
  .menu-likes{
    position: absolute !important;
    left: 50px!important;
    top: -40px;
  }
  .menu-phone {
    position: absolute !important;
    left: 25px !important;
    top: -20px;
  }


}
.display-flex {
  display: flex;
}
.space-betweenn {
  justify-content: space-between;
}
.btn-primary {
  background-color: $blue-2E2;
  color: $white;
  border-radius: 5px;
  border: 0;
  width: 100%;
  margin: 0 10px;
  padding: 10px;
}
.btn-secondary {
  background-color: $grey-C4C;
  color:$black;
  border-radius: 5px;
  width: 100%;
  border: 0;
  margin: 0 10px;
  padding: 10px;
}
