@import "../../app.component.scss";
@import "../matches/matches.component.scss";

mat-card {
  box-shadow: 0px 5px 5px $box-shadow-grey-029;
}
.cursor-pointer{
  cursor: pointer;
}
.container-chat {
  top: 0;
  z-index: 3;
  position: absolute;
  height: 100vh;
  background-color: $grey-F1F;
  flex-direction: column;

  .match {
    grid-template-columns: 5% 20% 60% 15%;
  }
}
.click-chat{
  display: none;
}
.arrow-back-to-matches{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $grey-707;
  cursor: pointer;
  margin-right: 10px;
}
.chat {
  margin: 20px 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mensages {
  height: 100%;
}
.box-msgs{
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 10px;
  box-shadow: 0px 3px 6px $box-shadow-grey-029;
  max-width: 70%;
}
.box-recived {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.msg-recived {
  color: $black;
  background-color: $green-00D;

}
.box-sent {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.msg-sent {
  color: $white;
  background-color: $blue-0BA;
}
.input-sent-msg{
  display: grid;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  border: 1px solid $blue-364;
  grid-template-columns: 90% auto;
  textarea:focus, input:focus{
    outline: none;
  }
  input{
    height: 30px;
    padding: 0 5px;
    border:none;
    box-shadow: none;
    background-image:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color:transparent;
  }
}
.btn-sent {
  display: flex;
  color: $blue-364;
}
@media  only screen and (min-width: 768px) {
  .click-chat{
    display: block;
  }
  .container-chat {
    top: initial;
    z-index: 3;
    position: initial;
    height: initial;
    .match {
      grid-template-columns: 15% 70% 15%;
      padding: 0;
    }
  }
  .chat {
    max-height: 450px;
    height: 450px;
  }
  .arrow-back-to-matches{
    display: none;
  }
}
@media only screen and(min-width: 1024px) and (min-height: 1366px) {
  .chat {
    max-height: 500px;
    height: 500px;
  }
}
@media  only screen and (min-width: 1400px) {
  .container-chat {
    .match {
      grid-template-columns: 10% 75% 15%;
    }
  }
}
